*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header{
    background-image: url(../img/apples.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}



.smallLogo{

    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;

}

.menu{
    color:#ffffff;
    font-size: 30px;


    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items {
    display: flex;
    list-style: none;
}

.menuSet a{
    padding: 10px 15px;
    color: #fff;
    margin-right: 30px;

}

.boss{
    text-align: center;
}

.bigLogo{
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 5px;
    position: relative;
}



.bigLogo span{
    font-size:90px ;
}


.since{
    font-size: 25px;
    margin-left: 85px;
}

.semi-transparent-button{
    margin-bottom: 100px;
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    background-color: Transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border: solid;
}

.divText{
    background: white;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    flex-direction: column;
    /*align-items: center;*/
    position: relative;
    justify-content: space-between;
    text-align: center;
}

.leftText{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftText p{
    color: black;
    padding: 0 100px;
    font-size: 31px;
    text-align: justify;

}

.rightText{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightText p{
    color: black;
    padding: 0 100px;
    text-align: justify;
    font-size: 20px;
}


.information{
    height: 100%;
    width: 100%;
    background: #f3f3f3;
}

.logoInformation{
    width: 100%;
    height: 250px;
}

.logoInformation p{
    font-size: 35px;
    text-align: center;
    padding-top: 120px;
}


.firstInf{
    width: 100%;
    height: 500px;
    position: relative;
    justify-content: space-between;
    display: flex;
}


.firstInf img{
    margin-left: 140px;
    padding-top: 50px;
    width: 50%;
    float: left;
}

.textFirstInf p {
    text-align: center;
    padding-top: 250px;
    padding-left: 25px;
    padding-right:40px ;
}

.secondInf{
    width: 100%;
    height: 500px;
    position: relative;
    justify-content: space-between;
    display: flex;
}
.secondInf img{
    margin-right: 140px;
    padding-top: 50px;
    width: 50%;
}

.textSecondInf p{
    text-align: center;
    padding-top: 250px;
    padding-left: 40px;
    padding-right:25px;
}

.registration{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.gmail{
    width: 60%;
    height: 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gmail p{
    font-size: 30px;
    width: 30%;
    margin-left: 20px;
}
.gmailReg{
    /*display: block;*/
    /*width: 100%;*/
    line-height: 1.5;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gmailReg input{
    background-color: #f3f3f3;
}


.footers{
    width: 100%;
    height: 350px;
    background: white;
    display: flex;
}

.black_white {
    width: 25%;
    height: 300px;
}

.black_white p:first-child {
    margin-left: 120px;
    margin-right: 50px;
    font-size: 25px;
    margin-top: 100px;
}
.black_white p:last-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 20px;
    color: #a0acc9;
    margin-top: 20px;
}


.lastTweet{
    width: 25%;
    height: 300px;
}

.lastTweet p:first-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 25px;
    margin-top: 100px;
}
.lastTweet p:last-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 20px;
    color: #a0acc9;
    margin-top: 20px;
}

.contact{
    width: 25%;
    height: 300px;
}

.contact p:first-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 25px;
    margin-top: 100px;
}

.contact p:last-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 20px;
    color: #a0acc9;
    margin-top: 20px;
}

.newsletter{
    width: 25%;
    height: 300px;

}

.newsletter p:first-child{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 25px;
    margin-top: 100px;
}

.newsletter .description{
    margin-left: 120px;
    margin-right: 50px;
    font-size: 20px;
    color: #a0acc9;
    margin-top: 20px;
}


.end{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.end p:first-child{
    font-size: 20px;
    color:#a0acc9;
    margin-left: 40px;

}
.menu-items2{
    display: flex;
    list-style: none;
    text-align: right;
    align-items: center
}

.menuSet2 a{
    padding: 15px 20px;
    color: black;
    font-size: 25px;
    margin-top: 10px;
}

.form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: gray;
    width: 100%;
    height: 100%;
}
.form-control2{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: gray;

    height: 50px;
    width: 60%;
}

.button{
    background: #343638;
    color: white;
    height: 61%;
    width: 150px;
    padding-top: 22px;
    padding-left: 17px;
}

.button2{
    background: #343638;
    color: white;
    height: 50px;
    width: 150px;

}

.gmailReg2{
    line-height: 1.5;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
