/* START: Task 1 Styles */
table td{
    padding: 40px;
    border: 1px solid black;
}
.yellow{
    background: yellow;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
body {
    font-family: "helvetica", "arial", san-serif;

}

input,
button {
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

input {
    width: /*calc(78% - 1em);*/ 300px;
    margin-right: 10px;
    background: #eeeeef;
    border: 0 transparent none;
    border: 1px solid #aaa;
    margin-left: 20px;
}
button {
    width: calc(20% - 1em);
    border-radius: 6px;
    margin-left: -5px;
    box-shadow: none;
    border: 0 transparent none;
    background: #0592ff;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0592ff;
    border-left: 0 transparent none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button:disabled {
     background: grey;
    cursor: not-allowed;
 }


h1 {
    text-align: center;
    font-weight: normal;
    color: #444;
    max-width: 60%;
    margin: 0 auto;
}

#container {
    max-width: 30%;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    margin-top: 1em;
}


.yup #pass {
    display: block;
}
.yup #instruct {
    display: none;
}

.yup.nope input {
    background: #ffcfc3;
    border-color: #ff0e29;
}
.yup.nope button {
    background: #ff0e29;
    border-color: #ff0e29;
}
.yup.nope #fail {
    display: block;
}
.yup.nope #instruct {
    display: none;
}


.yup #pass,
.yup  #fail {
       display: none;
   }

.successful{
    background: green;
    margin-left: 20px;
    margin-right: 170px

}
.invalid{
    background: red;
    margin-left: 20px;
    margin-right: 170px;
}

.invalid-input{
    border: 1px solid red;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3{
    width: 100%;
    height: 100%;
}
.foto{
    background: url("assets/court.png");
    width: 1000px;
    height: 500px;
}
.ball{
    background: url("assets/ball.png");
}
/* END: Task 3 Styles */
