table td{
    padding: 40px;
    border: 1px solid black;
}
.yellow{
    background: yellow;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
input,
button {
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

input {
    width: /*calc(78% - 1em);*/ 300px;
    margin-right: 10px;
    background: #eeeeef;
    border: 0 transparent none;
    border: 1px solid #aaa;
    margin-left: 20px;
}
button {
    width: calc(20% - 1em);
    border-radius: 6px;
    margin-left: -5px;
    box-shadow: none;
    border: 0 transparent none;
    background: #0592ff;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0592ff;
    border-left: 0 transparent none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button:disabled {
    background: grey;
    cursor: not-allowed;
}