body {
  color: #2c2f3c;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background: #FFFFFF; }

.header {
  background-image: url(../img/m-h-day.jpg);
  background-size: 100% 100%;
  padding: 15px 100px 100px;
  position: relative;
  border-bottom-right-radius: 43%; }
  .header .header-wrap .landing-logo {
    flex: 1 1 30%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center; }
    .header .header-wrap .landing-logo p {
      color: #000000;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      padding-left: 15px; }
      .header .header-wrap .landing-logo p span {
        font-size: 10px;
        font-weight: normal;
        display: inherit; }
  .header .header-wrap .header_heading {
    font-size: 48px;
    color: #2c2f3c;
    font-weight: 900;
    max-width: 400px;
    line-height: 48px;
    position: relative;
    z-index: 1000; }
    .header .header-wrap .header_heading::after {
      content: "";
      background-color: #14a0c7;
      width: 202px;
      height: 40px;
      position: absolute;
      left: -1px;
      bottom: 7px;
      z-index: -1; }
  .header .header-wrap .header_text {
    color: #060835;
    width: 46%;
    font-size: 14px;
    padding-bottom: 30px;
    text-align: justify; }
  .header .header-wrap div .header_button {
    background-color: #229002;
    color: #FFFFFF;
    padding: 12px 30px;
    border: none;
    border-radius: 2px; }
  .header .header-wrap div a {
    margin-left: 130px;
    color: #FFFFFF;
    font-size: 18px; }

main.section {
  width: 960px;
  margin: 0 auto; }
  main.section .section_text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-style: unset; }
  main.section .section_card_wrap .section_card {
    background: #21232e;
    color: #FFFFFF;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    main.section .section_card_wrap .section_card .section_card_img {
      width: 50%;
      height: 200px;
      margin: 15px 0 15px 15px;
      border-radius: 8px; }
    main.section .section_card_wrap .section_card .section_card_right_container {
      text-align: center; }
      main.section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-weight: bold;
        font-size: 15pt; }
      main.section .section_card_wrap .section_card .section_card_right_container .section_card_text {
        color: #798994;
        padding: 0 100px;
        text-align: justify; }
      main.section .section_card_wrap .section_card .section_card_right_container .section_link {
        color: #798994; }
  main.section .section_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 75px -30px -65px -30px;
    padding: 25px 100px;
    position: relative;
    background: #659510;
    background: linear-gradient(90deg, #659510 0%, #659510 21%, #3260c7 100%); }
    main.section .section_banner .section_banner_text_wrap .section_banner_heading {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 0;
      margin-top: 10px; }
    main.section .section_banner .section_banner_text_wrap .section_banner_text {
      margin-bottom: 5px;
      color: #FFFFFF;
      margin-top: 5px; }
    main.section .section_banner .section_banner_button {
      margin-left: 300px;
      color: #FFFFFF;
      background: #229002;
      padding: 12px 30px;
      border: none;
      border-radius: 2px; }

footer.footer .footer-wrap {
  background: #21232e;
  display: flex;
  padding: 70px 20px 50px;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.footer_text {
  color: #798994;
  width: 20%; }

.footer-cr {
  color: #798994; }

.footer_logo.landing-logo {
  display: flex;
  justify-content: left;
  align-items: center; }
  .footer_logo.landing-logo img {
    margin-right: 10px; }
  .footer_logo.landing-logo p {
    font-weight: bold;
    font-size: 20px;
    color: #798994;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center; }
  .footer_logo.landing-logo span {
    font-size: 10px;
    font-weight: normal;
    display: inherit; }
