/* Your code goes here */
* {box-sizing: border-box}
.box{
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 320px;
    border: solid;
}
input[type=text], input[type=password] {
    width: 100%;
    height: 35px;
    border: none
}
#name{
    background: #7fde7f;
}
#time{
    background: #7fde7f;
}
#place{
    background: #7fde7f;
}
.p{
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    background:#419041;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border: none;
    margin-top: 15px;
}