/* 

write your code here

*/

.flex-2-col {
    display: flex;
    align-items: center;
}
.box-bg:hover {
    background-color: #87CEFA;
}

.box-bg h2:hover {
    color: white;
    font-weight: bold;
}
p:first-letter {
    color:#87CEFA;
    font-size: 30px;
}
.tm-content-box,shadow {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tm-banner{
    background-color: #f5f5f5;

}
.tm-banner-inner{
    background-color: white;
}
section::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 250px 0 0;
    border-color: lightskyblue transparent transparent transparent;
}
.carousel-content .flex-item .tm-section-title {
    letter-spacing: 5px;
    color : gainsboro !important;
}
h2 + p {
font-style: italic;
}
.tm-section-description{
    text-indent: 20px;
}
.tm-team-description-container p:last-child{
    font-weight: 500;
}
.heading ol li a:visited {
    color: black;
}
.heading ol li a:hover {
    color: #76cdd7;
}
.heading h2 {
    text-align: center;
    color: #76cdd7;
}
.heading ol>li:first-child::after {
    content: "New";
    color: red;
    vertical-align: top;
    font-size: 10px;
}

.heading ol>li:nth-child(3)::after {
    content: "New";
    color: red;
    vertical-align: top;
    font-size: 10px;
}
.heading A:hover{
    text-decoration: double underline;
    color:#87cefa;
}
li.box {
    padding: 10px;
}

li.box:nth-child(even) {
    background-color: #f2f2f2;
}
.tm-content-box .boxes .box p:first-letter{
    color:gray;
    font-size: 30px;
}

.btn{
    color: #0275d8;
    background-color: white;
}
.btn:hover{
    color: white;
    background-color:#0275d8 ;
}

.form-group-2-col-right:after{
    color: red;
    content: " *";
}

.tm-nav-item:hover{
    background:#f5f5f5 ;
}

@media print {
    body *{
        visibility: hidden;
    }
    #home,#home * {
        visibility: visible;
    }
    section:first-of-type .tm-team-description-container,section:first-of-type .tm-team-description-container * {
        visibility: visible;
    }
    .flex-item img {
        visibility: visible;
        width: 300px;
    }

}









