#app-root {
    display: flex;
    flex-wrap: wrap;
}
.radioWrapper, .searchWrapper {
    flex: 0 50%
}
.radioWrapper label {
    width: calc(100% - 35px);
    display: inline-block;
}
.searchWrapper select {
    width: 200px;
}
select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #dfdfdf;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #dfdfdf;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
table{
    margin: 50px auto 0;
}
td {
    text-align: center;
    min-width: 126px;
}