/*Your code goes here*/
body {
    font-family: 'Roboto', sans-serif;
}



.align{
    font-size: 50px;
}
.align2{
    font-size: 22px;
}
.align3{
    font-size: 35px;
}

.btn-secondary1{
    background: #ff7f50;
}

.colorWhite{
    color: white;
}

.colorBlack{
    color: black;
}