// Write your styles here
body{
  color: $body;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background: $bodyBackground;
}


.header{
  background-image: $backgroundHeaderImage;
  background-size: 100% 100%;
  padding: 15px 100px 100px;
  position: relative;
  border-bottom-right-radius: 43%;

  .header-wrap {

    .landing-logo {
      flex: 1 1 30%;
      height: 100px;
      display: flex;
      justify-content: left;
      align-items: center;

      p {
        color: $pColor;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-left: 15px;

        span {
          font-size: 10px;
          font-weight: normal;
          display: inherit;
        }
      }
    }

    .header_heading {
      font-size: 48px;
      color: $body;
      font-weight: $fontWeightBold;
      max-width: 400px;
      line-height: 48px;
      position: relative;
      z-index: 1000;

      &::after {
        content: "";
        background-color: $textBackground;
        width: 202px;
        height: 40px;
        position: absolute;
        left: -1px;
        bottom: 7px;
        z-index: -1;
      }
    }

    .header_text {
      color: $headerText;
      width: 46%;
      font-size: 14px;
      padding-bottom: 30px;
      text-align: justify;
    }

    div {
      .header_button {
        background-color: $buttonColor;
        color: $whiteColor;
        padding: 12px 30px;
        border: none;
        border-radius: 2px;
      }

      a {
        margin-left: 130px;
        color: $whiteColor;
        font-size: 18px;
      }
    }
  }
}



main.section{
  width: 960px;
  margin: 0 auto;

  .section_text{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-style: unset;
  }
  .section_card_wrap{
    .section_card{
      background: $sectionsBackground;
      color:$whiteColor;
      margin-bottom:25px ;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

          .section_card_img{
            width: 50%;
            height: 200px;
            margin: 15px 0 15px 15px;
            border-radius: 8px;
          }
      .section_card_right_container{
        text-align: center;

          .section_card_heading{
            font-weight: bold;
            font-size: 15pt;

          }

        .section_card_text{
          color: $textcolor;
          padding: 0 100px;
          text-align: justify;
        }

        .section_link{
          color: $textcolor;
        }
      }

    }
  }
  @mixin linear-gradient($firstBackground, $secondBackground) {
    background: $firstBackground;
    background: linear-gradient(90deg, $firstBackground 0%, $firstBackground 21%, $secondBackground 100%);
  }
  .section_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 75px -30px -65px -30px;
    padding: 25px 100px;
    position: relative;
    @include linear-gradient($firstBackground, $secondBackground);

      .section_banner_text_wrap{
        .section_banner_heading{
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 0;
          margin-top: 10px;
        }
        .section_banner_text{
          margin-bottom: 5px;
          color:$sectionBannerText ;
          margin-top: 5px;
        }
      }
      .section_banner_button{
        margin-left: 300px;
        color: $whiteColor;
        background: $buttonColor;
        padding: 12px 30px;
        border: none;
        border-radius: 2px;
      }
  }

}




footer.footer{
  .footer-wrap{
    background: $sectionsBackground;
    display: flex;
    padding: 70px 20px 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

    .footer_logo.landing-logo {
      display: flex;
      justify-content: left;
      align-items: center;

      img{
        margin-right: 10px;
      }
      p {
        font-weight: bold;
        font-size: 20px;
        color: $textcolor;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;

      }
      span {
        font-size: 10px;
        font-weight: normal;
        display: inherit;
      }

    }

    .footer_text{
      color: $textcolor;
      width: 20%;
    }
    .footer-cr{
      color: $textcolor;
    }
  }

}


