$body:#2c2f3c;
$bodyBackground:#FFFFFF;
$backgroundHeaderImage: url(../img/m-h-day.jpg);
$pColor: #000000;
$buttonColor:#229002;
$whiteColor:#FFFFFF;
$headerHeadingColor: #00176A;
$fontWeightBold: 900;
$headerText:#060835;
$sectionsBackground:#21232e;
$textcolor: #798994;
$firstBackground: #659510;
$secondBackground: #3260c7;
$textBackground:#14a0c7;
$sectionBannerText:#FFFFFF;
