$body:#ffffff;
$bodyBackground:#21232e;
$backgroundHeaderImage: url(../img/m-h-night.jpg);
$pColor: #FFFFFF;
$buttonColor:#e3ac00;
$whiteColor:#FFFFFF;
$headerHeadingColor: #00176A;
$fontWeightBold: 900;
$headerText:#FFFFFF;
$sectionsBackground:#3b3f50;
$textcolor: #798994;
$firstBackground: #dea505;
$secondBackground: #953150;
$textBackground:#ff4e33;
$sectionBannerText:#d1d1d1;