body {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 0 12% 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header__nav a {
  color: #000000;
  text-transform: uppercase;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__list-item {
  padding: 10px;
  font-weight: bold;
}
.header__nav a:hover {
  color: #0078aa;
}

.home {
  position: relative;
}

.home>div {
  /*margin-top: 100px;*/
  background: url("../img/header_bg.jpg");
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 0 12% 6%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom-right-radius: 18%;
  margin-top: 100px;

}
.care-header {
  font-size: 40px;
  color: #000000;
  margin-bottom: 20px;
}
.care-discription {
  color: #bdbbbb;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.care__button {
  padding-top: 20px;
  display: flex;
}

.care__button > a > i {
  color: #ffffff;
  background: #0078aa;
  border-radius: 50px;
  padding: 10px;
  font-size: 30px;
  margin-right: 20px;
}
.care__button a i svg{
  width: 36px;
  height: 26px;
}


.about {
  padding: 50px 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.about_img img{
  width: 100%;
}
.about>div {
  flex: 50%;
}

.about>div:nth-child(2) {
  margin-left: 20px;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 5px;
}

.about span {
  font-size: 20px;
  color: #0078aa;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
}

.about p {
  font-size: 16px;
  color: #000000;
  max-width: 90%;
  margin-bottom: 25px;
}



.about .top{
  position: fixed;
  right: 15px;
  top: 76%;
}

.about .top i {
  color: #ffffff;
  background: #0078aa;
  border-radius: 50px;
  padding: 18px;
  font-size: 16px;
}

.top svg{
  width: 19px;
  height: 19px;
}

.helping{
  background: url("../img/services_bg.jpg");
  font-size: 20px;
  padding: 50px 12% 6%;
}

.helping h2{
  text-align: center;
}
.helping >span{
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.options{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px;
}

.options li{
  flex: 1 0 calc(33.333% - 20px);
  margin: 10px;
  list-style: none;
  padding: 140px 25px 25px 25px;
}

.options li:nth-child(1) {
  background: #fff url("../img/icons/oftalmology.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}
.options li:nth-child(2) {
  background: #fff url("../img/icons/dentistry.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}
.options li:nth-child(3) {
  background: #ffffff url("../img/icons/cardiology.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}

.options li:nth-child(4) {
  background: #fff url("../img/icons/pediatrics.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}
.options li:nth-child(5) {
  background: #fff url("../img/icons/laboratory.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}
.options li:nth-child(6) {
  background: #fff url("../img/icons/radiology.jpg");
  background-repeat: no-repeat;
  background-position: 25px 15px;
}


.offers{
  background: url("../img/pricing_bg.jpg");
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 12% 6%;
  width: 100%;
}


.offers p{
  text-align: center;
  padding-top: 100px;
  font-size: 40px;

}
.offers >span{
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.cost{
  display: flex;
}


.cost li{
  flex: 1 0 33.333%;
  list-style: none;
}

.cost li{
  list-style: none;
}

.cost > li:nth-child(2) {
  background: #ffffff;
  border: 2px solid #0078aa;
  color: #0078aa;
  margin: -25px 0;
  padding-top: 70px;
}
.cost> li span {
  font-size: 60px;
  padding-top: 15px;
  font-weight: bold;
  color: #ffffff;
}

.cost > li:nth-child(2) span {
  font-size: 60px;
  padding-top: 15px;
  font-weight: bold;
  color: #0078aa;
}

.cost > li ul > li {
  padding-bottom: 25px;
}

.cost {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px;
  padding-top: 35px;
}

.cost > li {
  flex: 1 0 33.333%;
  list-style: none;
  background: #47c9e5;
  padding: 50px 25px 40px;
  text-align: center;
  color: #ffffff;
}

.get_now {
  font-size: 26px;
  padding: 12px 24px;
  border-radius: 10px;
  color: #0078aa;
  font-weight: bold;
  background: #ffffff;
  border: 2px solid #0078aa;
}




.final {
  padding: 50px 0 0;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.about_img2 img{
  width: 100%;
  margin-bottom: -4px;
}
.final>div {
  flex: 50%;
}

.final>div:nth-child(2) {
  margin-left: 20px;
}

.final h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.final span {
  font-size: 20px;
  color: #0078aa;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
}


.registration{
  line-height: 1.5;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  background-image: none;
  color: gray;
}

input:focus-visible{
  outline: none;

}


.form-control2{
  List-style:none;
  margin-top: 20px;
  font-style: italic;
  font-size: 15px;
  background-color: #fff;
  background-image: none;
  border-left:none;
  border-top:none;
  border-right: none;
  border-bottom: 1px solid #eeeeee;
  color: black;
  height: 25px;
  width: 100%;
}

.get_now2 {
  margin-top: 20px;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  background: #0078aa;
  border: 2px solid #ffffff;
}
.get_now2:hover{
  background: white;
  color:#0078aa;
  border: 2px solid #0078aa;
}

.footer {
  background: #363636;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.arrows {
  color: #0078aa;
}



@media screen and (max-width: 767px){

  nav {
    display: block;
  }

  .nav__list {
    display: block;
  }
  .about{
    display: block;
  }
  .cost > li:nth-child(1),.cost > li:nth-child(2) {
    margin: 0 0 50px 0;
  }

  .care__button {

    display: block;
  }

}


@media (min-width: 768px) and (max-width: 1279px){

}